@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
		-webkit-transform: translate(0, -100px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translate(0, 0);
	}
}

@-moz-keyframes fadeIn {
	0% {
		opacity: 0;
		-moz-transform: translate(0, -100px);
	}

	100% {
		opacity: 1;
		-moz-transform: translate(0, 0);
	}
}

@-o-keyframes fadeIn {
	0% {
		opacity: 0;
		-o-transform: translate(0, -100px);
	}

	100% {
		opacity: 1;
		-o-transform: translate(0, 0);
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: translate(0, -100px);
	}

	100% {
		opacity: 1;
		transform: translate(0, 0);
	}
}


@mixin animation($animation) {	
    -webkit-animation: $animation;
    -moz-animation: $animation;
    -o-animation: $animation;
    animation: $animation;
}