<div class="row content">
	<div class="col-xs-4 full-col">
		<h3>{{today|date:'MMMM dd yyyy'}}</h3>
		<div class="plain" scrollbar>
			<ul class="list-unstyled items">
				<li ng-repeat="item in days|filter:isToday" ng-click="setArticle(item, 0)" ng-class="{active: article.web_url == item.web_url}">
					<p class="bold title">{{item.web_title || item.headline}}<p>
					<p class="text-muted snippet">
						<span ng-bind-html="item.snippet" ng-if="item.snippet"></span>
						<span ng-bind-html="item.body | snippet:'day'" ng-if="!item.snippet"></span>	
					</p>
					<p class="text-right publication-date">
						<span class="badge">{{item.web_publication_date | date:'MM/dd/yyyy'}}</span>
					</p>
				</li>
			</ul>
		</div>
	</div>
	<div class="col-xs-4 full-col" ng-click="active = 1">
		<h3>{{today|date:'MMMM yyyy'}}</h3>
		<div class="plain" scrollbar>
			<ul class="list-unstyled items">
				<li ng-repeat="item in month|orderBy:'web_publication_date':'desc'"  ng-click="setArticle(item, 1)"  ng-class="{active: article.web_url == item.web_url}">
					<p class="bold title">{{item.web_title || item.headline}}<p>
					<p class="text-muted snippet">
						<span ng-bind-html="item.snippet" ng-if="item.snippet != 'NULL'"></span>
						<span ng-bind-html="item.body | snippet:'month'" ng-if="item.snippet == 'NULL'"></span>
					</p>
					<p class="text-right publication-date">
						<span class="badge">{{item.web_publication_date | date:'MM/dd/yyyy'}}</span>
					</p>
				</li>
			</ul>
		</div>
	</div>
	<div class="col-xs-4 full-col" ng-click="active = 2">
		<h3>{{today|date:'yyyy'}}</h3>
		<div class="plain" scrollbar>
			<ul class="list-unstyled items">
				<li ng-repeat="item in year" ng-click="setArticle(item, 2)" ng-class="{active: article.web_url == item.web_url}">
					<p class="bold title">{{item.web_title || item.headline}}<p>
					<p class="text-muted snippet">
						<span ng-bind-html="item.snippet" ng-if="item.snippet != 'NULL'"></span>
						<span ng-bind-html="item.body | snippet:'year'" ng-if="item.snippet == 'NULL'"></span>
					</p>
					<p class="text-right publication-date">
						<span class="badge">{{item.web_publication_date | date:'MM/dd/yyyy'}}</span>
					</p>
				</li>
			</ul>
		</div>
	</div>
</div>


<div class="preview" ng-style="previewStyle()" ng-if="active > -1 && article" scroll-to="600">
	<a class="close" ng-click="$parent.active = -1">
		<i class="icon-remove"></i>
		<span class="sr-only">Close</span>
	</a>
	<article scrollbar>
		<h2>{{article.web_title || article.headline}}</h2>
		<div ng-bind-html="article.body | nl2br"></div>
		<div class="top20">
			<div class="well pull-left padding10">
				Share on 
				<a href="https://twitter.com/share" class="twitter-share-button top-10" data-url="{{article.web_url}}" data-via="Pirhoo">Tweet</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
			</div>
			<p class="text-right">
				<img src="images/the_guardian.png" alt="The Guardian" class="right10" /> 
				<a class="btn btn-primary btn-lg" ng-href="{{article.web_url}}" target="_blank">See the article</a>
			</p>
		</div>
	</article>
</div>
