<div class="row content">
	<div class="col-xs-4 full-col" ng-repeat="scale in ['day','month','year']">
		<h3>
			<i class="icon-chevron-left clickable" ng-click="change(scale, -1)"></i>
			<span class='date'>{{dates[scale]|date:dates_format[scale]}}</span>
			<b popover-placement="left" popover-append-to-body="true"
			popover="This column shows articles in the selected archive mentioning {{dates[scale]|date:dates_format[scale]}}."
			popover-trigger="mouseenter">?</b>
			<i class="icon-chevron-right clickable pull-right" ng-click="change(scale, 1)"></i>
			<p class='last-scrape'>
				<i ng-if="scrape_dates[scale] != null">Last scrap on {{scrape_dates[scale]|date}}</i>
				<a ng-if="scrape_dates[scale] != null" href="#" >Subscribe</a>
				<i ng-if="scrape_dates[scale] == null">This date hasn't be scrapped yet.</i>
			</p>
		</h3>
		<div class="plain" scrollbar>
			<ul class="list-unstyled items">
				<li ng-show="articles[scale].length <= 0 && scrape_dates[scale]" class='bold'>No results for this date</li>
				<li ng-show="!scrape_dates[scale]">
					Want to be informed when the data are available?
					<br /><br />
					<form class='form-inline'>
						<input type='text' class='form-control' placeholder='Please leave your email' />
						<button class='btn btn-primary'>Ok</button>
					</form>
				</li>
				<li ng-repeat="item in articles[scale]|orderBy:'pub_date'" ng-click="setArticle(item, 0)" ng-class="{active: article.url == item.url && active > -1}">
					<p class="bold title">{{item.title || item.headline}}<p>
					<p class="text-muted snippet">
						<span ng-bind-html="item.snippet | snippet:scale" ng-if="item.snippet"></span>
						<span ng-bind-html="item.body | snippet:scale" ng-if="!item.snippet"></span
					</p>
					<p class="text-right publication-date">
						Published <span class="left05 badge">{{item.pub_date | date:'MM/dd/yyyy'}}</span>
					</p>
				</li>
			</ul>
		</div>
	</div>
</div>


<div class="preview" ng-style="previewStyle()" ng-if="active > -1 && article" scroll-to="600">
	<a class="close" ng-click="$parent.active = -1">
		<i class="icon-remove"></i>
		<span class="sr-only">Close</span>
	</a>
	<article scrollbar>
		<h2>{{article.web_title || article.headline}}</h2>
		<div ng-bind-html="article.body | nl2br"></div>
		<div class="top20">
			<div class="well pull-left padding10">
				Share on 
				<a href="https://twitter.com/share" class="twitter-share-button top-10" data-url="{{article.web_url}}" data-via="Pirhoo">Tweet</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
			</div>
			<p class="text-right">
				<img ng-src="images/{{article.source | slugify}}.png" alt="{{article.source}}" class="right10" />
				<a class="btn btn-primary btn-lg" ng-href="{{article.url}}" target="_blank">See the article</a>
			</p>
		</div>
	</article>
</div>
